* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @keyframes bigToSmall {
    0% {
      top: 0;
      width: 100%;
      opacity: 0;
    }
    100% {
      top: 20px;
      width: 80%;
      opacity: 1;
    }
  }

  @keyframes smallToBig {
    0% {

      top: 20px;
      width: 80%;
      
    }
    100% {
      top: 0;
      width: 100%;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


 img {
  width: 50px;
 }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
    transition: all ease-in-out 0.3s;  
  }

  a:hover {
    color: red;
  }
  
  /* navbar */
  .navbar {
    animation: smallToBig 0.7s ease-out forwards;
    margin: 0 auto;
    position: fixed;
    top: 0;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    min-height: 60px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
  
    }



    .navbar-change {
      animation: bigToSmall 0.7s ease-out forwards;
      position: none;
      top: 20px;
      background-color: white;
      width: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 100%;
      transition: ease-in-out;
    }
    
    .navbar-change a {
      color: black;
      transition: all ease-in-out 0.3s;  

    }

    .navbar-change a:hover {
      color: red;

    }

    .navbar-change img {
      filter: grayscale(100%) brightness(0%);

    }
  
  
  /* logo  */
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

  }
  
  /* media queries */
  
  @media screen and (max-width: 780px){

    .navbar {
      animation: none;
    }

    .navbar-change {
      animation: none;
      margin: 0 auto;
      position: fixed;
      top: 0;
      margin: 0 auto;
      background-color: rgb(0, 0, 0);
      padding: 10px 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 40px;
      min-height: 60px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10000;  
    box-shadow: none;  }

      .navbar-change img {
        filter: none;


        }

        .navbar-change a {
          color: white;
  
  
          }
      
    
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      color: white;
    }

  
    .bar {
          background-color: #ffffff;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: black;
      padding: 10px;
    }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
  }
